{% extends "base.html" %}
{% block body-scripts %}
 <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '143773729080490',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
 </script>
{% endblock %}
{% block content %}
<h4>{{message}}</h4>
<div id="login-form">
  
</div>
Forgot password? <a href="forgot-password">Click Here</a>


{% endblock %}
{% block page-scripts %}
<script>
  
centipair.registry.load_function("render-login-form");



</script>

{% endblock %}

